<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:action="@{/admin}" th:method="POST" th:object="${user}">
    <label for="username">Username:</label>
    <input id="username" th:field="*{username}" type="text">
    <br/>
    <label for="password">Password:</label>
    <input id="password" th:field="*{password}" type="password">
    <br/>
    <label for="name">Name:</label>
    <input id="name" th:field="*{name}" type="text">
    <br/>
    <label for="surname">Surname:</label>
    <input id="surname" th:field="*{surname}" type="text">
    <br/>
    <label for="age">Age:</label>
    <input id="age" th:field="*{age}" type="text">
    <br/>
    <label for="email">Email:</label>
    <input id="email" th:field="*{email}" type="text">
    <br/>
    <p>
        <label>Roles:
            <input name="roles" th:each="role : ${user.getRoles()}"
                   th:field="*{roles}"
                   th:text="${role.getRole()}"
                   th:value="${role.getId()}"
                   type="checkbox"
            />
        </label>
    </p>
    <input type="submit" value="Save">
</form>

</body>
</html>