<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<div>
    <th:block th:each="user : ${users}">
       <h3><a th:href="@{/admin/user(id=${user.getId()})}" th:text="|${user.getId()}. ${user.getUsername()} |"></a> </h3>
    </th:block>
</div>
<br/>
<hr style="color: red">
<a th:href="@{/admin/new}" style="font-size: 20px; background-color: #f70777; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Add user</a>
<br/><br/><br/>
<a th:href="@{/logout}" style="font-size: 20px; background-color: #f70053; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Logout</a>
<hr style="color: blue">
</body>
</html>